.username {
    margin: 15px 0;
    font-size: $font-size-large;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    color: #777;
    cursor: pointer;
}

.years-and-months {
    line-height: 1.6em;
    text-align: right;
}