.editor {
    margin-bottom: 50px;
}

.heading {
    text-align: center;
    padding-bottom: 5px;
    border-bottom: 2px solid lightgrey;
}

#preview-heading:hover {
    cursor: pointer;
    text-decoration: underline;
}

textarea {
    border: none;
    border-radius: 5px;
    width: 100%;
    padding: 10px;
    resize: none;
    font-size: $font-size-small;
    font-family: 'Source Sans Pro', sans-serif;
}

textarea:focus {
    outline: none;
}