.filter-wrapper {
    margin-top: $l-size;
    height: $l-size;
    line-height: $l-size;
    vertical-align: middle;
    width: 100%
}

input {
    padding: 8px 8px 5px;
    line-height: 24px;
    border: 1px solid #dbdbdb;
    font-size: $font-size-small;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}

input:focus {
    outline: none;
}

label {
	font-size: $font-size-large;
	line-height: 2.5rem;
}

select {
	width: 100%;
	background-color: white;
	padding: 7px;
	border: none;
	border-radius: 5px;
}