.filter-wrapper {
    display: flex;
    align-items: center;
    width: 100%
}

input {
    padding: 8px 8px 5px;
    line-height: 24px;
    border: 1px solid #dbdbdb;
    font-size: $font-size-small;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}

input:focus {
    outline: none;
}