* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    height: 100%;
}

body {
    font-size: $font-size-small;
    font-family: 'Source Sans Pro', sans-serif;
    height: 100%;
}

.app {
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.bg {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: -1;
    pointer-events: none;
    height: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.wrapper {
    width: 40%;
}

@media (max-width: 1500px) {
    .wrapper {
        width: 50%;
    }
}

@media (max-width: 1000px) {
    .wrapper {
        width: 60%;
    }
}

@media (max-width: 800px) {
    .wrapper {
        width: 80%;
    }
}

@media (max-width: 500px) {
    .wrapper {
        width: 90%;
    }
}

@media (max-width: 400px) {
    .wrapper {
        width: 95%;
    }
}