* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    background-color: $pale-blue;
}

body {
    font-size: $font-size-small;
    font-family: 'Source Sans Pro', sans-serif;
}

.app {
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 40%;
}